name: 'Create a new test app'

run-name: "Create a new test app in [${{ github.ref_name }}]"

on:
  workflow_dispatch:
    inputs:
      project:
        description: Project name if the repository is setup for multiple projects
        required: false
        default: '.'
      name:
        description: Name
        required: true
        default: '<YourAppName>.Test'
      publisher:
        description: Publisher
        required: true
      idrange:
        description: ID range
        required: true
        default: '50000..99999'
      sampleCode:
        description: Include Sample code?
        type: boolean
        default: true
      directCommit:
        description: Direct Commit?
        type: boolean
        default: false
      useGhTokenWorkflow:
        description: Use GhTokenWorkflow for PR/Commit?
        type: boolean
        default: false

permissions:
  actions: read
  contents: write
  id-token: write
  pull-requests: write

defaults:
  run:
    shell: pwsh

env:
  ALGoOrgSettings: ${{ vars.ALGoOrgSettings }}
  ALGoRepoSettings: ${{ vars.ALGoRepoSettings }}

jobs:
  CreateTestApp:
    needs: [ ]
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Dump Workflow Information
        uses: OleWunschmann/AL-Go/Actions/DumpWorkflowInfo@update-workflow-reusable-default-inputs
        with:
          shell: pwsh

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Initialize the workflow
        id: init
        uses: OleWunschmann/AL-Go/Actions/WorkflowInitialize@update-workflow-reusable-default-inputs
        with:
          shell: pwsh

      - name: Read settings
        uses: OleWunschmann/AL-Go/Actions/ReadSettings@update-workflow-reusable-default-inputs
        with:
          shell: pwsh

      - name: Read secrets
        id: ReadSecrets
        uses: OleWunschmann/AL-Go/Actions/ReadSecrets@update-workflow-reusable-default-inputs
        with:
          shell: pwsh
          gitHubSecrets: ${{ toJson(secrets) }}
          getSecrets: 'TokenForPush'
          useGhTokenWorkflowForPush: '${{ github.event.inputs.useGhTokenWorkflow }}'

      - name: Creating a new test app
        uses: OleWunschmann/AL-Go/Actions/CreateApp@update-workflow-reusable-default-inputs
        with:
          shell: pwsh
          token: ${{ steps.ReadSecrets.outputs.TokenForPush }}
          project: ${{ github.event.inputs.project }}
          type: 'Test App'
          name: ${{ github.event.inputs.name }}
          publisher: ${{ github.event.inputs.publisher }}
          idrange: ${{ github.event.inputs.idrange }}
          sampleCode: ${{ github.event.inputs.sampleCode }}
          directCommit: ${{ github.event.inputs.directCommit }}

      - name: Finalize the workflow
        if: always()
        uses: OleWunschmann/AL-Go/Actions/WorkflowPostProcess@update-workflow-reusable-default-inputs
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          shell: pwsh
          telemetryScopeJson: ${{ steps.init.outputs.telemetryScopeJson }}
          currentJobContext: ${{ toJson(job) }}

  CustomJob-Alpaca-UpdateSystemFiles:
    name: 'Update AL-Go and COSMO Alpaca System Files'
    needs: [ CreateTestApp ]
    if: (!failure()) && (!cancelled()) && ${{ github.event.inputs.directCommit == 'true' }}
    uses: ./.github/workflows/_AlpacaUpdateSystemFiles.yaml
    secrets: inherit
    with:
      updateALGoSystemFiles: true
      updateAlpacaSystemFiles: true
      branch: ${{ github.ref_name }}
      directCommit: true
      downloadLatest: false
      useInputCommitOptions: true
