name: ' Update AL-Go System Files'

on:
  workflow_dispatch:
    inputs:
      templateUrl:
        description: Template Repository URL (current is https://github.com/OleWunschmann/AL-Go@update-workflow-reusable-default-inputs)
        required: false
        default: ''
      downloadLatest:
        description: Download latest from template repository
        type: boolean
        default: true
      directCommit:
        description: Direct Commit?
        type: boolean
        default: false
      includeBranches:
        description: Specify a comma-separated list of branches to update. Wildcards are supported. The AL-Go settings will be read for every branch. Leave empty to update the current branch only.
        required: false
        default: ''
  workflow_call:
    inputs:
      templateUrl:
        description: Template Repository URL (current is https://github.com/OleWunschmann/AL-Go@update-workflow-reusable-default-inputs)
        type: string
        required: false
        default: ''
      downloadLatest:
        description: Download latest from template repository
        type: boolean
        default: true
      directCommit:
        description: Direct Commit?
        type: boolean
        default: false
      includeBranches:
        description: Specify a comma-separated list of branches to update. Wildcards are supported. The AL-Go settings will be read for every branch. Leave empty to update the current branch only.
        type: string
        required: false
        default: ''

permissions:
  actions: read
  contents: read
  id-token: write

defaults:
  run:
    shell: pwsh

env:
  ALGoOrgSettings: ${{ vars.ALGoOrgSettings }}
  ALGoRepoSettings: ${{ vars.ALGoRepoSettings }}

jobs:
  Initialize:
    runs-on: windows-latest
    name: Initialize
    outputs:
      UpdateBranches: ${{ steps.GetBranches.outputs.Result }}
      TemplateUrl: ${{ steps.DetermineTemplateUrl.outputs.TemplateUrl }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Read settings
        id: ReadSettings
        uses: OleWunschmann/AL-Go/Actions/ReadSettings@update-workflow-reusable-default-inputs
        with:
          shell: pwsh
          get: templateUrl

      - name: Get Workflow Multi-Run Branches
        id: GetBranches
        uses: OleWunschmann/AL-Go/Actions/GetWorkflowMultiRunBranches@update-workflow-reusable-default-inputs
        with:
          shell: pwsh
          includeBranches: ${{ github.event.inputs.includeBranches }}

      - name: Determine Template URL
        id: DetermineTemplateUrl
        env:
          TemplateUrlAsInput: '${{ github.event.inputs.templateUrl }}'
        run: |
            $templateUrl = $env:templateUrl # Available from ReadSettings step
            if ($ENV:TemplateUrlAsInput) {
              # Use the input value if it is provided
              $templateUrl = $ENV:TemplateUrlAsInput
            }
            Write-Host "Using template URL: $templateUrl"
            Add-Content -Encoding UTF8 -Path $env:GITHUB_OUTPUT -Value "TemplateUrl=$templateUrl"

  UpdateALGoSystemFiles:
    name: "[${{ matrix.branch }}] Update AL-Go System Files"
    needs: [ Initialize, CustomJob-UpdateAlpacaFiles ]
    runs-on: windows-latest
    strategy:
      matrix:
        branch: ${{ fromJson(needs.Initialize.outputs.UpdateBranches).branches }}
      fail-fast: false

    steps:
      - name: Dump Workflow Information
        uses: OleWunschmann/AL-Go/Actions/DumpWorkflowInfo@update-workflow-reusable-default-inputs
        with:
          shell: pwsh

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ matrix.branch }}

      - name: Initialize the workflow
        id: init
        uses: OleWunschmann/AL-Go/Actions/WorkflowInitialize@update-workflow-reusable-default-inputs
        with:
          shell: pwsh

      - name: Read settings
        uses: OleWunschmann/AL-Go/Actions/ReadSettings@update-workflow-reusable-default-inputs
        with:
          shell: pwsh
          get: commitOptions

      - name: Read secrets
        id: ReadSecrets
        uses: OleWunschmann/AL-Go/Actions/ReadSecrets@update-workflow-reusable-default-inputs
        with:
          shell: pwsh
          gitHubSecrets: ${{ toJson(secrets) }}
          getSecrets: 'ghTokenWorkflow'

      - name: Calculate Commit Options
        env:
          directCommit: '${{ github.event.inputs.directCommit }}'
          downloadLatest: '${{ github.event.inputs.downloadLatest }}'
        run: |
          $errorActionPreference = "Stop"; $ProgressPreference = "SilentlyContinue"; Set-StrictMode -Version 2.0
          if('${{ github.event_name }}' -in 'workflow_dispatch', 'workflow_call') {
            Write-Host "Using inputs from ${{ github.event_name }} event"
            $directCommit = $env:directCommit
            $downloadLatest = $env:downloadLatest
          }
          else {
            Write-Host "Using inputs from commitOptions setting"
            $commitOptions = $env:commitOptions | ConvertFrom-Json # Available from ReadSettings step
            $directCommit=$(-not $commitOptions.createPullRequest)
            $downloadLatest=$true
          }
          Add-Content -Encoding UTF8 -Path $env:GITHUB_ENV -Value "directCommit=$directCommit"
          Add-Content -Encoding UTF8 -Path $env:GITHUB_ENV -Value "downloadLatest=$downloadLatest"

      - name: Update AL-Go system files
        uses: OleWunschmann/AL-Go/Actions/CheckForUpdates@update-workflow-reusable-default-inputs
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          shell: pwsh
          token: ${{ fromJson(steps.ReadSecrets.outputs.Secrets).ghTokenWorkflow }}
          downloadLatest: ${{ env.downloadLatest }}
          update: 'Y'
          templateUrl: ${{ needs.Initialize.outputs.TemplateUrl }}
          directCommit: ${{ env.directCommit }}
          updateBranch: ${{ matrix.branch }}

      - name: Finalize the workflow
        if: always()
        uses: OleWunschmann/AL-Go/Actions/WorkflowPostProcess@update-workflow-reusable-default-inputs
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          shell: pwsh
          telemetryScopeJson: ${{ steps.init.outputs.telemetryScopeJson }}
          currentJobContext: ${{ toJson(job) }}

  CustomJob-UpdateAlpacaFiles:
    name: "[${{ matrix.branch }}] Update COSMO Alpaca System Files"
    needs: [ Initialize ]
    strategy:
      matrix:
        branch: ${{ fromJson(needs.Initialize.outputs.UpdateBranches).branches }}
      fail-fast: false
    uses: ./.github/workflows/_AlpacaUpdateSystemFiles.yaml
    secrets: inherit
    with:
      updateALGoSystemFiles: false # Already handle in job UpdateALGoSystemFiles
      updateAlpacaSystemFiles: true
      branch: ${{ matrix.branch }}
      templateUrl: ${{ needs.Initialize.outputs.TemplateUrl }}
      downloadLatest: ${{ inputs.downloadLatest }}
      directCommit: ${{ inputs.directCommit }}
      useInputCommitOptions: ${{ github.event_name == 'workflow_dispatch' }}
